body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #ffffff;
    color: #000;
}

header {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 26px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.produto {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.produto img {
    max-height: 50px;
    object-fit: cover;
}

.produto h2 {
    font-size: 16px;
    margin: 10px 0;
}

.produto p {
    font-size: 14px;
    margin: 5px 0;
}

button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
.botao-whats {
    display: block;
    background: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
